<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.modeling3d">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:requestLegacyExternalStorage="true"
        android:configChanges="keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.huawei.hms.modeling3d.Modeling3dApp"
        android:allowBackup="true"
        android:icon="@mipmap/modeling3"
        android:label="@string/splash_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:exported="true"
            android:name="com.huawei.hms.modeling3d.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.huawei.hms.modeling3d.ui.activity.HistoryActivity" />

        <activity android:name="com.huawei.hms.modeling3d.ui.activity.CaptureMaterialActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.ChooserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.HumanSkeletonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SelectSourceVideoActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity android:name=".ui.activity.SelectSourcePhotoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.EmptySelectActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.NewScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <activity android:name=".ui.activity.FilePickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <activity android:name=".ui.activity.SettingModelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="720" />

    </application>

</manifest>