*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/code-check
/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/cameratakelib/.idea/checkstyle-idea.xml
/cameratakelib/.idea/gradle.xml
/cameratakelib/.idea/misc.xml
/cameratakelib/.idea/modules.xml
/cameratakelib/.idea/vcs.xml
/cameratakelib/.idea/workspace.xml
